<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Daruma | Providers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='providers.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='jquery-2.2.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='global.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='providers.js') }}"></script>
    </head>

    <body>
        <h2>Daruma System</h2>
        <div id="system-section">
            <div class="inset-box">
                <ul id="system-status-list" class="status-list">
                    <li>Status: <span id="system-status"/></li>
                    <!--<li>Capacity Used: <span class="status-green">46%</span></li>-->
                </ul>
            <button id="add-provider-button" type="button" onclick="onAddProviderButtonClick()">Add provider</button>
            </div>
        </div>

        <h2>Providers</h2>
        <div id="provider-section">
            <ul id="provider-list">
            </ul>
        </div>
    </body>
</html>
