<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>SecretBox | Setup</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='setup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='add_provider_modal.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='jquery-2.2.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>

    <body>
        <div id="click-blocker">
            {% include 'add_provider_modal.html' %}
        </div>

        <h1>Welcome to Secretbox.</h1>

        <div id="instructions-no-config" class="instructions" style="display: none;">
            To get started from scratch, add at least 3 providers.<br><br>
            To load an existing installation, just add all the providers it used.  We'll automatically load everything as you left it.
        </div>

        <div id="instructions-existing-config" class="instructions">
            We found an existing configuration on your providers but did not have enough of them to properly reconstruct.
            <br><br>
            Either add more providers that the previous installation used or click "Start Fresh" below to delete the installation and just use the logins you have now.
        </div>

        <button id="add-provider-button" class="big-button" type="button" onclick="onAddProviderButtonClick()">Add a Provider</button>
        <button id="done-adding-providers-button" class="big-button tooltip" type="button" disabled>Begin Using<span class="tooltiptext">Add at least 3 providers<br>to begin</span></button>

        <div id="added-providers-area">
            <h2>Added Providers:</h2>
            <ul>
            {% for provider in providers %}
                <li>
                    &#9989
                    <span class="added-provider-name">{{ provider }}</span>
                    <span class="added-username">user@gmail.com</span>
                </li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>
