* {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
    overflow: hidden;  /* Prevents elastic scrolling in Safari */
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ECECEC;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.inset-box {
    height: 80px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1.5px #A0A0A0;
    background-color: #E2E2E2;
    padding: 20px;
    display: flex;
    align-items: center;
}
