body {
    text-align: center;
}

#instructions-box {
    width: 85%;
    margin: auto;
    text-align: initial;
}

#instructions-box > div {
    display: none;
}


#done-adding-providers-button {
    margin-left: 10px;
}

#added-providers-area {
    margin-top: 5%;
}

#added-providers-area > h2 {
    font-size: 12pt;
}

#added-providers-area > ul {
    padding: 0 10px;
    margin: 0;
    display: inline-block;
    overflow: auto;
    list-style-type: none;
    text-align: initial;
}

.added-provider-name {
    font-weight: bold;
}

.added-username {
    color: #555555;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 12pt;
    width: 100%;
    background-color: silver;
    color: #7F7F7F;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 105%;
    bottom: 0;
    margin-top: -50%;
    box-shadow: 1px 1px 2px #888888;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent silver transparent transparent;
}
